@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;200;300;400;500;600&display=swap');

.toggle_contain{
    position: absolute;
    width: 91px;
    height: 38px;
    left: 90%;
    top: 11px;
    background: #BED8FE;
    border-radius: 17px;
    cursor: pointer;
}

.toggle_contain > #darkmode{
    position: absolute;
    left: 4.4%;
    right: 36.26%;
    top: 10.53%;
    bottom: 10.53%;
    background: #5B9CFD;
    border-radius: 15px;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 13px;
    margin: 0px;
    border: 0px;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.toggle_contain > #lightmode{
    position: absolute;
    right: 4.4%;
    left: 36.26%;
    top: 10.53%;
    bottom: 10.53%;
    background: #5B9CFD;
    border-radius: 15px;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 13px;
    margin: 0px;
    border: 0px;
    font-family: 'Fira Sans Condensed', sans-serif;
}