#what-i-used{
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: red;
}

#side-proj-title{
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.TID_Box1, .TID_Box1_{
    position: relative;
    margin-right: 20px;
    width: 22%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: #FAFCFF; */
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 0;
    overflow: hidden;
  }
  
  .TID_Box1_{
    background: rgba(31, 116, 243, 0.22);
  }

  .img-logo-container{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 15px;
  }
  
  #mini_Icons{
    width: 50px;
    height: 50px;
  }

  #gihub-icons{
    color: white;
    font-size: 20px;
  }
  
  .TID_mini_container{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #TID_mini_sub, #TID_mini_sub_{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #5B9CFD;
  }
  
  #TID_mini_sub_{
    color: #ffffff;
  }

  .text_mini_container{
    padding: 0px 30px;
    width: calc(100% - 60px);
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }

  #text_descrpt, #text_descrpt_{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
  }
  
  #text_descrpt_{
    color: white;
  }

  #mypix{
    max-width: 17%;
    height: auto;
    margin-right: 40px;
  }

  #myprofile_container{
    /* background-color: aqua; */
    width: 60%;
  }

  #myprofiledetaile{
    /* color: #582222; */
    color: white;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    word-spacing: 2px;
    /* font-size: 18px; */
    line-height: 30px;
  }

  .Aboutme_body_container{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url('../../asset//Images/vector.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    padding-bottom: 30px;
    position: relative;
  }

  .coursecard-container-blog{
    overflow: hidden;
    border-radius: 10px;
    height: 70vh;
    width: 350px;
    min-width: 250px;
    margin-right: 50px;
    margin-bottom: 50px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    /* background-color: white; */
}

.coursecard-container-blog:hover .imgdiv-container, 
.coursecard-container-blog:focus .imgdiv-container{
    -ms-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}

.imgdiv-container{
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.imgdiv-container-contain{
  width: 100%;
  height: 50%;
  overflow: hidden;
  background-color: #0808086e;
}

.cc-card-body-blog{
  display: flex;
  width: calc(100% - 30px);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5px 10px;
  height: 50%;
}

.bg-text-container_{
  width: 100%;
  height: 50%;
  margin: 20px 0px 10px 0px;
  /* inline-size: 159px; */
  /* background-color: green; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

#bg-name{
  font-size: 17px;
  margin: 5px 0px;
  font-weight: 700;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: white;
}

.bg-text-container{
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  display: inline-block;
}

.bg-text-container > #bg-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: white;
}

#bps_mini, #bps_mini1{
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: #5956FB; */
}

#bps_mini1{
  margin-top: 25px;
}

#ldemo{
  width: 89px;
  height: 40px;
  background: linear-gradient(270deg, #5956FB 0%, rgba(89, 86, 251, 0.35) 100%);
  border-radius: 10px;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-right: 40px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.sideproj_tws, .sideproj_tws_{
  min-width: 150px;
  width: 350px;
  height: 320px;
  min-height: 250px;
  background-color: transparent;
  overflow: hidden;
  margin-right: 5px;
}

.sideproj_tws_{
  background-color: #0000;
}

.sideproj_tws:hover, .sideproj_tws_:hover{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.proj_textContainer{
  /* display: none; */
  width: 100%;
  box-sizing: border-box;
  height: 0%;
  opacity: 0;
}

.proj_img_container{
  width: 100%;
  height: 100%;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

.sideproj_tws:hover > .proj_textContainer, .sideproj_tws_:hover > .proj_textContainer{
  width: 100%;
  opacity: 1;
  box-sizing: border-box;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.sideproj_tws:hover > .proj_img_container, .sideproj_tws_:hover > .proj_img_container{
  display: none;
  width: 100%;
}

#learn-more{
  font-size: 16px;
  padding: 10px 15px;
  width: 50%;
  outline: none;
  border: 1px solid #5B9CFD;
  margin-top: 15px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  /* border-radius: 5px; */
}

#learn-more:hover{
  background-color: #5B9CFD;
  color: white;
  transition: background-color 0.5s ease-in-out;
  border: 1px solid transparent;
}

/* .sideproj_tws_{
  background-color: #0000;
} */

@media screen and (max-Width:850px) {
  .TID_Box1, .TID_Box1_{
    width: 100%;
    height: 270px;
    min-width: 170px;
  }

  #mypix{
    position: absolute;
    top: 20%;
  }

  #myprofile_container{
    /* background-color: aqua; */
    width: 90%;
  }
}

@media screen and (max-Width:450px) {
  #mypix{
    position: absolute;
    top: 25%;
  }

  #myprofiledetaile{
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: normal;
  }

}