.oba-skill-card{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f9;
    margin-right: 20px;
    margin-bottom: 10px;
}

.oba-skill-card:hover{
    background-color: white;
}

#confIcon{
    font-size: 35px;
    color: #5B9CFD;
}

.oba-skill-card > span{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

/* Skills Component */
.skills-container{
    /* background-color: aqua; */
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
}

#labels, #labels_{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    color: #5B9CFD;
    margin-bottom: 25px;
}

#labels_{
    color: white;
}