.navbarContainer, .navbarContainer_inv{
    position: fixed;
    top: 0;
    width: 100%;
    height: 61px;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(203, 192, 192, 0.25);
    padding: 0px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbarContainer_inv{
    background: #301818;
  }

  .right-container{
    width: 80%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
  }

  .imgContainer{
    width: 50px;
    height: 50px;
    background: url("../asset/Images/Logo.png") no-repeat;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
  }



  /* Navbar List */
  
  .ulistedTabs, .ulistedTabs_inv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    width: 55%;
    height: 100%;
    /* background-color: blue; */
    margin-right: 50px;
    list-style-type: none;
  }

  .ulistedTabs > li, .ulistedTabs_inv > li{
    width: 24%;
    height: 100%;
    cursor: pointer;
  }
  
  .ulistedTabs > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5B9CFD;
    text-decoration: none;
  }
  
  .ulistedTabs_inv > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-decoration: none;
  }
  
  .ulistedTabs > li:hover{
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.322);
    -webkit-box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.322);
    -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.322);
  }
  
  .ulistedTabs_inv > li:hover{
    box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
    -webkit-box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
    -moz-box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
  }


  /* Top Container Component */
  .myhome_container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .things-ido{
    width: 90%;
    height: fit-content;
    margin-top: 30px;
    background: url('../asset/Images/bkgrnd2.png');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: contain; 
  }

  .TID_Container{
    /* width: 100%; */
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    /* background-color: blue; */
  }

  .sub_title_container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
  }

  #sub_title, #sub_title_{
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    color: #5B9CFD;
    text-align: center;
  }
  
  #sub_title_{
    color: #ffffff
  }

  .textContain{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url("../asset/Images/Logo3.png") no-repeat;
    background-position: 100%; 
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: rgb(162, 165, 127); */
  }
  
  .sub_textContain{
    width: 50%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 30px; */
    padding-left: 60px;
    background-color: transparent;
    /* background-color: brown; */
  }

  @media screen and (max-Width: 800px) {
    .textContain, .textContainmedia{
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: url("../asset/Images/Logo3.png") no-repeat;
      background-position: 100%; 
      background-repeat: no-repeat;
      background-size: contain;
      /* background-color: rgb(162, 165, 127); */
    }

    .textContainmedia{
      background: none;
    }

    .sub_textContain, .sum_textContainmedia{
      width: 50%;
      height: calc(100% - 60px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 60px;
      background-color: transparent;
    }

    .sum_textContainmedia{
      width: 100%;
    }
  }

  #p1, #p1_{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    color: black;
  }
  
  #p2, #p2_{
    /* width: 504px; */
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 10px;
    color: black;
    /* background-color: yellow; */
  }
  
  #p3, #p3_{
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 10px;
    color: black;
  }
  
  #p1_, #p2_, #p3_{
    color: #ffffff;
  }
  
  #p4, #p4_{
    width: 145px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(273.46deg, #5B9CFD 2.23%, rgba(96, 103, 113, 0.41) 99.3%);
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
  }
  
  #p4 > span, #p4_ > span{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }
  
  .home_img{
    width: 500px;
    height: 100%;
  }

  .icon-box{
    width: 145px;
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
  }
  
  #icons, #icons_{
    font-size: 25px;
    color: #5B9CFD;
    cursor: pointer;
  }
  
  #icons_{
    color: white;
  }

  .toggcontainer_2{
    display:none
  }
  


  /* Media Screen Responsiveness */

  @media screen and (max-Width: 900px) {
    .ulistedTabs, .ulistedTabs_inv{
      width: 75%;
      background-color: blue;
    }
  }

  @media screen and (max-Width: 850px) {
    .ulistedTabs, .ulistedTabs_inv{
      display: none;
    }

    .toggcontainer, .toggcontainer_2{
      display:block;
      height: auto;
      position: relative;
    }
    
    .TID_Container{
      /* width: 100%; */
      height: fit-content;
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 15px;
      row-gap: 15px;
      align-items: center;
      padding: 0px 10px;
      /* background-color: blue; */
    }
  }

  @media screen and (max-Width: 420px) { 
    .TID_Container{
      /* width: 100%; */
      height: fit-content;
      display: grid;
      grid-template-columns: auto;
      column-gap: 15px;
    }
  }