
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Fira+Sans+Condensed:wght@100;200;300;400;500;600&display=swap');

.foorter-container{
    width: calc(100% - 80px);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: #5B9CFD;
    margin-top: 100px;
}

.copyright{
    font-family: 'Domine', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #FAFCFF;
}