@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Fira+Sans+Condensed:wght@100;200;300;400;500;600&display=swap');

*{
  padding: 0;
  margin: 0;
}


::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.AppContainer {
  background-color: #FFFFFF;
  height: 100%;
}

.AppContainer_inv{
  background-color: #000000;
  height: 100%;
}

.navbarContainer{
  position: fixed;
  width: 100%;
  height: 61px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(203, 192, 192, 0.25);
  padding: 0px;
  z-index: 10;
}

.navbarContainer_inv{
  position: fixed;
  width: 100%;
  height: 61px;
  left: 0px;
  top: 0px;
  background: #000000;
  box-shadow: 0px 5px 10px rgba(203, 192, 192, 0.25);
  z-index: 10;
}

.ulistedTabs, .ulistedTabs_inv{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  position: absolute;
  width: 500px;
  height: 100%;
  right: 305px;
  top: 0px;
  list-style-type: none;
}

.ulistedTabs > li, .ulistedTabs_inv > li{
  width: 24%;
  height: 100%;
  cursor: pointer;
}

.ulistedTabs > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #5B9CFD;
  text-decoration: none;
}

.ulistedTabs_inv > li > a{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

.ulistedTabs > li:hover{
  box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.322);
  -webkit-box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.322);
  -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.322);
}

.ulistedTabs_inv > li:hover{
  box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
  -webkit-box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
  -moz-box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
}

.imgContainer{
  position: absolute;
  width: 50px;
  height: 60px;
  left: 50px;
  top: 0px;
}

.myhome{
 width: 100%;
 height: 85vh;
 display: flex;
}

.imgContain{
  max-width: 30%;
  height: 85vh;
  overflow: hidden
}

.textContain{
  width: 70%;
  height: 85vh;
  /* background-color: rgb(127, 127, 165); */
}

.sub_textContain{
  width: 540px;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  padding-left: 60px;
}

#p1, #p1_{
  width: 109px;
  height: 24px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

#p2, #p2_{
  width: 504px;
  height: 48px;
  font-family: 'Domine', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  margin-top: 10px;
}

#p3, #p3_{
  width: 303px;
  height: 28px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 28px;
  margin-top: 10px;
}

#p1_, #p2_, #p3_{
  color: #ffffff;
}

#p4, #p4_{
  width: 145px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(273.46deg, #5B9CFD 2.23%, rgba(96, 103, 113, 0.41) 99.3%);
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
}

#p4 > span, #p4_ > span{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.home_img{
  width: 500px;
  height: 100%;
}

.sub_title_container{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
}

#sub_title, #sub_title_{
  font-family: 'Domine', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #5B9CFD;
  text-align: center;
}

#sub_title_{
  color: #ffffff
}

.TID_Container{
  width: calc(100% - 160px);
  height: 290px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 80px;
  /* background-color: blue; */
}

.TID_Box1{
  position: relative;
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FAFCFF;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  z-index: 0;
}

.TID_Box1_{
  position: relative;
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(250, 252, 255, 0.22);
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#mini_Icons{
  position: absolute;
  width: 84px;
  height: 84px;
  left: 123px;
  top: 20px;
}

.TID_mini_container{
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 127px;
}

#TID_mini_sub, #TID_mini_sub_{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  color: #5B9CFD;
}

#TID_mini_sub_{
  color: #ffffff;
}

.text_mini_container{
  position: absolute;
  top: 183px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text_descrpt, #text_descrpt_{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

#text_descrpt_{
  color: white;
}

#aboutme_block{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin-top: 100px;
}

.ABTme_title_container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ABTme_title, .ABTme_title_{
  font-family: 'Domine', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #5B9CFD;
}

.ABTme_title_{
  color: #ffffff;
}

.ABTme_body_container{
  overflow: hidden;
}

#mypix{
  position: absolute;
  width: 237px;
  height: 237px;
  left: 126px;
  top: 1406px;
}

#myprofile_container{
  position: absolute;
  left: 420px;
  top: 1576px;
  width: 919px;
  height: 317px;
  /* flex: none;
  order: 0;
  flex-grow: 0; */
  margin: 0px 10px
}

#myprofiledetaile{
  color: #ffffff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
}

.sideproj_container{
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.sideproj_title_contain{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideproj_title, .sideproj_title_{
  font-family: 'Domine', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #5B9CFD;
}

.sideproj_title_{
  color: #ffffff
}

.main-box-contain{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Box1{
  width: 1221px;
  height: 400px;
  background: #FAFCFF;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 30px;
}

.foorter-container, .foorter-container_{
  width: calc(100% - 80px);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  background-color: #5B9CFD;
  margin-top: 100px;
}

.foorter-container_{
  background-color: #ffffff3d;
}

.copyright{
  font-family: 'Domine', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #FAFCFF;
}

.buttom_side_proj{
  position: relative;
  margin-top: 30px;
  overflow: hidden;
}

.bsp_mini_container{
  width: 100%;
  overflow-x: auto;
  position: absolute;
  left: 0px;
  top: 157px;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.bsp_mini_container::-webkit-scrollbar {
  width: 5px;
  height: 6px;
  background-color: #aaa; /* or add it to the track */
}

.bsp_mini_container::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.bsp_mini_container::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.bsp_mini, .bsp_mini_{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 320px;
  height: 250px;
  margin-right: 10px;
  background: #FAFCFF;
  border-radius: 20px;
}

#sub_tag{
  width: 100%;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}

#descptn{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-top: 50px;
}

#bps_mini, #bps_mini1{
  margin-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}

#bps_mini1{
  margin-top: 25px;
}

.icon-box{
  width: 145px;
  margin-top: 39px;
  display: flex;
  justify-content: space-between;
}

#icons, #icons_{
  font-size: 25px;
  color: #5B9CFD;
  cursor: pointer;
}

#icons_{
  color: white;
}

#ldemo{
  width: 89px;
  height: 40px;
  background: linear-gradient(270deg, #5956FB 0%, rgba(89, 86, 251, 0.35) 100%);
  border-radius: 10px;
  display: flex;
  align-items:center;
  justify-content: center;
  margin-right: 40px;
  cursor: pointer;
  color: white
}

.buttom-main-contain{
  margin-top: 95px;
}

.buttm-contain{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 40px;
}

.shakeicon, .shakeicon_{
  width: 393px;
  height: 480px;
  background-color: #5B9CFD;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.shakeicon_{
  background: rgba(255, 255, 255, 0.22);
}

#si-thnk{
  font-family: 'Domine', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 33px;
}

#si-thnk-2{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 45px;
}

#shake-icon{
  width: 149px;
  height: 89px;
  color: white;
}

.emailmsgs, .emailmsgs_{
  width: 827px;
  height: 636px;
  background: #FAFCFF;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
}

.emailmsgs_{
  background: rgba(255, 255, 255, 0.22);
}

.top-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 710px;
  height: 78px;
  left: 58px;
  top: 70px;
}

.top-left, .top-left_, .top-right, .top-right_{
  width: 330px;
  height: 78px;
}

.top-left > span, .top-right > span, .mess-buttn > span, .top-left_ > span, .top-right_ > span, .mess-buttn_ > span{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

.top-left_ > span, .top-right_ > span, .mess-buttn_ > span{
  color: white;
}

#field{
  width: calc(330px - 40px);
  height: 42px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 10px;
  margin-top: 15px;
  border: none;
  outline: none;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 15px;
  padding: 0px 20px;
}

.mess-buttn, .mess-buttn_{
  position: absolute;
  width: 710px;
  height: 271px;
  left: 58px;
  top: 192px;
  margin-top: 44px;
}

#field1{
  width: calc(710px - 40px);
  height: calc(235px - 40px);
  left: 0px;
  top: 36px;
  background: rgba(196, 196, 196, 0.2);
  border-radius: 10px;
  margin-top: 15px;
  border: none;
  outline: none;
  padding: 20px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 15px;
}

.submit_but{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 654px;
  top: 507px;
  margin-top: 44px;
}

#submit-button{
  width: calc(113.81px);
  height: 45px;
  background: linear-gradient(270deg, #5956FB 0%, rgba(89, 86, 251, 0) 100%);
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 15px;
  cursor: pointer;
  padding: 0px 15px;
  text-align: right;
}

#send_icon{
  width: 26px;
  height: 19px;
  position: absolute;
  left: 8.79%;
  right: 68.54%;
  top: 29.62%;
  bottom: 29.62%;
  color: #FFFFFF;
}

.toggcontainer_2{
  display:none
}

@media screen and (max-width: 1000px ) {
  .navbarContainer, .navbarContainer_inv{
    position: fixed;
    width: 100px;
    display: flex;
    height: auto;
    top: 100px;
    left: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    box-shadow: none;
    z-index: 20;
  }

  .imgContainer{
    display:none;
  }

  .ulistedTabs, .ulistedTabs_inv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    padding: none;
    position: relative;
    left: 0px;
    width: 100%;
    height: none;
    right: none;
  }

  .toggcontainer, .toggcontainer_2{
    display:block;
    height: auto;
    position: relative;
    margin-bottom: 15px;
  }

  .toggcontainer_2_{
    position: fixed;
    top: 390px;
  }
  
  .ulistedTabs > li, .ulistedTabs_inv > li{
    width: 100%;
    height: 10%;
    padding: 10px 0px;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(277.23deg, #5B9CFD -8.72%, rgba(228, 235, 244, 0.84) 121.57%);
    margin-bottom: 15px;
  }
  
  .ulistedTabs > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: white;
    text-decoration: none;
  }
  
  .ulistedTabs_inv > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #ffffff;
    text-decoration: none;
  }
  
  .ulistedTabs > li:hover{
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.322);
    -webkit-box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.322);
    -moz-box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.322);
  }
  
  .ulistedTabs_inv > li:hover{
    box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
    -webkit-box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
    -moz-box-shadow: -1px 1px 6px 0px rgba(255, 255, 255, 0.322);
  }



  .TID_Container{
    width: calc(100% - 60px);
    height: auto;
    display: grid;
    grid-template-rows: auto auto auto auto;
    margin: 0px 30px;
    justify-content:center;
  }

  .TID_Box1, .TID_Box1_{
    display: flex;
    flex-direction: column;
    height: 300px;
    max-width: 100%;
    margin-bottom: 10px;
  }
  
  #aboutme_block{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 100px;
  }

  .ABTme_body_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: aqua; */
  }

  #myprofile_container{
    position: absolute;
    left: 0px;
    top: 280px;
    width: 90%;
    height: auto;
    margin: 0px 10px
  }

  #myprofiledetaile{
    color: #ffffff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
  }
  
  #mypix{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 110px;
    top: 30px;
  }

  .main-box-contain{
    display: grid;
    grid-template-rows: auto auto auto auto;
    align-items: center;
  }

  .Box1{
    margin: 0px 20px;
    width: calc(100% - 40px);
    height: 300px;
    margin-top: 15px;
  }

  .buttom-main-contain{
    margin-top: 95px;
    width: 100%;
    overflow: hidden;
  }

  .buttm-contain{
    padding: 0px 10px;
    width: calc(100% - 20px);
  }

  .shakeicon, .shakeicon_{
    display: none;
  }
  
  .shakeicon_{
    background: rgba(255, 255, 255, 0.22);
  }

  .emailmsgs, .emailmsgs_{
    position: none;
    width: 100%;
    padding: 10px 0px;
    height: auto;
    background: #FAFCFF;
    position: relative;
    overflow: hidden;
  }
  
  .emailmsgs_{
    background: rgba(255, 255, 255, 0.22);
  }

  .top-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 10px 5px;
    width: calc(100% - 10px);
    height: auto;
    left: 0px;
    top: 0px;
  }

  .top-left, .top-left_, .top-right, .top-right_{
    width: 100%;
    height: auto;
  }
  
  .top-left > span, .top-right > span, .mess-buttn > span, .top-left_ > span, .top-right_ > span, .mess-buttn_ > span{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
  }
  
  .top-left_ > span, .top-right_ > span, .mess-buttn_ > span{
    color: white;
  }

  .mess-buttn, .mess-buttn_{
    position: static;
    width: 100%;
    height: auto;
    margin-top: 10px;
    width: calc(100% - 10px);
    margin: 0px 5px;
  }
  
  #field{
    width: calc(100% - 10px);
    height: 40px;
    margin-top: 15px;
    font-size: 14px;
    padding: 0px 5px;
  }

  #field1{
    width: calc(100% - 20px);
    height: 150px;
    margin-top: 15px;
    padding: 10px;
    font-size: 14px;
  }

  .submit_but{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 20px;
    padding-right: 5px;
    left: 0px;
    top: 0px;
  }

  #send_icon{
    width: 26px;
    height: 19px;
    position: absolute;
    left: auto;
    top: auto;
    right: 80px;
    bottom: 13px;
    color: #FFFFFF;
  }

  .sideproj_title, .sideproj_title_, .ABTme_title, .ABTme_title_,  #sub_title, #sub_title_{
    font-weight: 700;
    font-size: 22px;
  }
  

  #footer_img{
    width: 30px;
    height: 30px;
  }

  .copyright{
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
    color: #FAFCFF;
  }

  .sub_textContain{
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
  }

  .myhome{
    overflow: hidden;
   }

   #p1, #p1_{
    width: 109px;
    height: 24px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
  
  #p2, #p2_{
    font-size: 23px;
    line-height: 30px;
    margin-top: 5px;
  }
  
  #p3, #p3_{
    font-size: 18px;
    line-height: 28px;
    margin-top: 5px;
  }

  
}

@media screen and (min-height: 700px ) {
  #myprofile_container{
    left: 10px;
    top: 320px;
  }
}